<!DOCTYPE html>
<html>

<head>
	<title>Build Exam</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel='stylesheet' href="./style.css">
	<script src="./script.js"></script>
</head>

<body>
	<nav>
    <label class="logo">Build Exam</label>
    <ul>
			<li><a href="./app?page=landing">Home</a></li>
			<li><a href="./app?page=manage_questions">Manage Questions</a></li>
			<li><a href="./app?page=manage_exams">Manage Exams</a></li>
			<li><a href="./app?page=grade_exams">Grade Exams</a></li>
			<li><a href="./logout">Log Out</a>
    </ul>
  </nav>

<!-- Exam --------------------------------------------------------------------->
	<div class="row">
	  <div class="column left" style="background-color:#DFDFDF;">

			<div class="greybox">

  			<h3><label for="name">Title: {{ name }}</label></h3><br/>

					<h3><label for="exam_questions">Questions:</label></h3>
					{% for q in examQuestions %}
					<table style="width:100%">
						<colgroup>
							<col span="1" style="width:150px";
						</colgroup>

						<tr>
							<th>ID</th>
							<td>{{ q.id }}</td>
						</tr>

						<tr>
							<th>Title</th>
							<td>{{ q.title }}</td>
						</tr>

						<tr>
							 <th>Description</th>
							 <td>{{ q.description }}</td>
						</tr>
						<tr>
							 <th>Category</th>
							 <td>{{ q.category }}</td>
						</tr>
						<tr>
							 <th>Difficulty</th>
							 <td>{{ q.difficulty }}</td>
						</tr>
						<tr>
							 <th>Test Cases</th>
							 <td>
								 <!-- test cases -->
								 {% set args = q.testcaseargs %}
								 {% set outputs = q.testcaseoutputs %}
								 {% for i in range(args|length)%}
										{{ q.functionname }}({{ args[i] }}) --> {{ outputs[i] }}</br>
								 {% endfor %}
						 </td>
						</tr>
					<tr>
						<th>Question Points</th>
						<td>{{ q.points }}</td>
					</tr>
					 </br>
				 </table>
				{% endfor %}

				</div></br> <!-- end box -->

	      <button type="button" style="width:95%">Finished Editing</button></br></br>

	  </div> <!-- end column left/Exam -->

<!-- Filter Questions  -------------------------------------------------------->
		  <div class="column right" style="background-color:#DFDFDF;">
          <div class="greybox">

            <h3>Filter Questions</h3></br>
						<form action=/getAllQuestions method="GET">

	            <label for="category">Category:</label>
	            <select name="category">
	              {% for c in categories %}
	                <option value="{{ c }}">{{ c }}</option>
	              {% endfor %}
	            </select></br>
	            </br>

	            <label for="difficulty">Difficulty:</label>
	            <select name="difficulty">
	              {% for d in difficulties %}
	                <option value="{{ d }}">{{ d }}</option>
	              {% endfor %}
	            </select></br></br>

							<button type="button">Apply</button> <!-- type: button or submit? -->

						</form>
					</div></br>

<!-- Select Questions --------------------------------------------------------->
					<h2>Select Questions</h2></br>
					<div class="greybox">
						<!-- displaying table for each question in bank -->
						{% for q in questionBank %}
							<table style="width:100%">
			 					<colgroup>
			 				  	<col span="1" style="width:150px";
			 				  </colgroup>

								<tr>
									<th>ID</th>
									<td>{{ q.id }}</td>
								</tr>

								<tr>
									<th>Title</th>
									<td>{{ q.title }}</td>
								</tr>

			 				  <tr>
			 				     <th>Description</th>
			 				     <td>{{ q.description }}</td>
			 				  </tr>
			 				  <tr>
			 				     <th>Category</th>
			 				     <td>{{ q.category }}</td>
			 				  </tr>
			 				  <tr>
			 				     <th>Difficulty</th>
			 				     <td>{{ q.difficulty }}</td>
			 				  </tr>
			 				  <tr>
			 				     <th>Test Cases</th>
									 <td>
										 <!-- test cases -->
										 {% set args = q.testcaseargs %}
										 {% set outputs = q.testcaseoutputs %}
										 {% for i in range(args|length)%}
										 		{{ q.functionname }}({{ args[i] }}) --> {{ outputs[i] }}</br>
										 {% endfor %}
								 </td>
			 				  </tr>

								<tr>
									<th>Question Points</th>
									<td>{{ q.points }}</td>
								</tr>

							 </br>
		 				 </table>
						 <form action="/add_question?test_id={{ examID }}&question_id={{ q.id }}" method="POST">
							 	<input type="number" min="0" max="100" name="point_value" step="1" value="10"></input>
						 		<button type="submit" class="longButton">Add</button>
					 	 </form>
						 <!-- this button should have the question id so when you click add it adds that specific question to the exam -->
						 {% endfor %} <!-- end table values -->

				</div></br> <!-- end box -->

		  </div> <!-- end column right/Create Exam -->

	</div> <!-- end row -->

</body>

</html>
