<!DOCTYPE html>
<html>

	<head>
		<title>Grade Exams</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel='stylesheet' href="./style.css">
		<script src="./script.js"></script>
	</head>

  <body>
		<nav>
      <label class="logo">Grade Exams</label>
      <ul>
				<li><a href="./app?page=landing">Home</a></li>
				<li><a href="./app?page=manage_questions">Manage Questions</a></li>
				<li><a href="./app?page=manage_exams">Manage Exams</a></li>
				<li><a href="./app?page=grade_exams">Grade Exams</a></li>
				<li><a href="./logout">Log Out</a>
      </ul>
    </nav>

<!-- Select Exam -------------------------------------------------------------->
	<div class="full-page-box">
		<h2>Submitted Exams</h2><br>
		<div class="greybox">
		<table>
			<colgroup>
				<col span="1" style="width:35%;">
				<col span="1" style="width:35%;">
				<col span="1" style="width:10%;">
				<col span="1" style="width:10%;">
			</colgroup>
				<tr>
					<h2><th>Student</th></h2>
					<h2><th>Exam</th></h2>
				</tr>

					{% for exam in submittedExams %}
					<tr>
						<td>{{ exam.student }}</td> <!-- fix these -->
						<td>{{ exam.name }}</td> <!-- fix these -->
						<td>
							{% if exam.graded %}
								<a href="./app?page=review_exam&student={{ exam.student }}&exam={{ exam.name}}"><button type="submit" style="width:200px">Review</button></a>
							{% else %}
								Run autograder first.
							{% endif %}
						</td>
						<td>
							{% if exam.released %}
								Released
							{% else %}
								Not Released
							{% endif %}
						</td>
					{% endfor %}
				</tr>
		</table><br>

		<form action="/autograde" method="POST">
			<button type="submit">Autograde All</button>
		</form>

		</div><br>

	</div> <!-- end page box -->

  </body>

</html>
