<!DOCTYPE html>
<html>

	<head>
		<title>Grade Exams</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel='stylesheet' href="./style.css">
		<script src="./script.js"></script>
	</head>

  <body>
		<nav>
      <label class="logo">Grade Exams</label>
      <ul>
				<li><a href="./app?page=landing">Home</a></li>
				<li><a href="./app?page=manage_questions">Manage Questions</a></li>
				<li><a href="./app?page=manage_exams">Manage Exams</a></li>
				<li><a href="./app?page=grade_exams">Grade Exams</a></li>
				<li><a href="./logout">Log Out</a>
      </ul>
    </nav>

<!-- Select Exam -------------------------------------------------------------->
	<div class="full-page-box">
		<table class="gradeExam" style="width:1000px;">
			<colgroup>
				<col span="1" style="width:40%;">
				<col span="1" style="width:40%;">
				<col span="1" style="width:10%;">
				<col span="1" style="width:10%;">
			</colgroup>
				<tr>
					<h2><th>Student</th></h2>
					<h2><th>Exam</th></h2>
				</tr>
				<td>Student Name</td> <!-- ex. delete later -->
				<td>Exam Title</td> <!-- ex. delete later -->
				<td><button type="button" id="autogradeExam" onClick="autoGrade()">Autograde</td>
				<td><a href="./app?page=review_exam"><button type="button" id="reviewExam">Review</button></a></td>
					{% for test in TestResponses %}
					<tr>
						<td>{{ test.studentName }}</td> <!-- CONFIRM, what to put here? student name/exam title -->
						<td>{{ test.exam_title }}</td>
						<td><button type="button" id="autogradeExam" onClick="autoGrade()">Autograde</td>
						<td><a href="./app?page=review_exam"><button type="button" id="reviewExam">Review</button></a></td>
					{% endfor %}
				</tr>
		</table>

	</div> <!-- end page box -->

  </body>

</html>
