<!DOCTYPE html>
<html>

	<head>
		<title>Grade Exams</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel='stylesheet' href="./style.css">
		<script src="./script.js"></script>
	</head>

  <body>
		<nav>
      <label class="logo">Grade Exams</label>
      <ul>
				<li><a href="./app?page=landing">Home</a></li>
				<li><a href="./app?page=manage_questions">Manage Questions</a></li>
				<li><a href="./app?page=manage_exams">Manage Exams</a></li>
				<li><a href="./app?page=grade_exams">Grade Exams</a></li>
				<li><a href="./logout">Log Out</a>
      </ul>
    </nav>

<!-- Select Exam -------------------------------------------------------------->
	<div class="full-page-box">
		<h2>Submitted Exams</h2><br>
		<div class="greybox">
		<table>
			<colgroup>
				<col span="1" style="width:40%;">
				<col span="1" style="width:40%;">
				<col span="1" style="width:10%;">
			</colgroup>
				<tr>
					<h2><th>Student</th></h2>
					<h2><th>Exam</th></h2>
				</tr>
				<td>Student Name</td> <!-- ex. delete later -->
				<td>Exam Title</td> <!-- ex. delete later -->
				<td><a href="./app?page=review_exam"><button type="submit" id="reviewExam">Review</button></a></td><!-- ex. delete later -->

					{% for exam in submittedExams %}
					<tr>
						<td>{{ student_name }}</td> <!-- fix these -->
						<td>{{ exam_name }}</td> <!-- fix these -->
						<td><a href="./app?page=review_exam"><button type="submit" id="reviewExam">Review</button></a></td>
						<!-- fix href to direct to correct exam responses -->
					{% endfor %}
				</tr>
		</table><br>

		<form action="/autograde" method="POST">
			<button type="submit">Autograde All</button>
		</form>

		</div><br>

	</div> <!-- end page box -->

  </body>

</html>
