<!DOCTYPE html>
<html>

<head>
	<title>Manage Questions</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel='stylesheet' href="./style.css">
	<script src="./script.js"></script>
</head>

<body onload="adddefaulttestcases()">
	<nav>
    <label class="logo">Manage Questions</label>
    <ul>
			<li><a href="./app?page=landing">Home</a></li>
			<li><a href="./app?page=manage_questions">Manage Questions</a></li>
			<li><a href="./app?page=manage_exams">Manage Exams</a></li>
			<li><a href="./app?page=grade_exams">Grade Exams</a></li>
			<li><a href="./logout">Log Out</a>
    </ul>
	</nav>

<!-- Create Question ---------------------------------------------------------->
	<div class="row">
		 <div class="column left" style="background-color:#DFDFDF;">
		   <h2>Create Question</h2><br>
			 <div class="greybox">

		    <form action="/create_question" method="POST">
					<h3><label for="title">Title:</label></h3>
					<input type="text" name="title" size=60 required><br>
					<br>

		      <h3><label for="description">Description:</label></h3>
					<textarea name="description" rows=8 cols=60 required></textarea><br>
					<br>

					<h3><label for="function_name">Function Name:</label></h3>
					<input type="text" name="function_name" style="width:150px" required><br>
					<br>

					<h3><label for="category">Category:</label></h3>
					<select name="category" style="width:150px" required>
						{% for c in categories %}
							<option value="{{ c }}">{{ c }}</option>
						{% endfor %}
	      	</select><br>
					<br>

					<h3><label for="difficulty">Difficulty:</label></h3>
					<select name="difficulty" style="width:150px" required>
						{% for d in difficulties %}
							<option value="{{ d }}">{{ d }}</option>
						{% endfor %}
	      	</select><br>
					<br>

					<h3><label for="constraint">Constraint:</label></h3>
					<!-- use jinja to loop through constraint options once added to database? -->
					<!--
					{% for c in constraints %}
						<input type="radio" name="constraint" value="{{ c }}">
						<label for="{{ c }}">{{ c }}</label><br>
					{% endfor %}
					-->
					<input type="radio" name="constraint" value="for-loop">
					<label for="for-loop">For Loop</label><br>
					<input type="radio" name="constraint" value="while-loop">
					<label for="while-loop">While Loop</label><br>
					<input type="radio" name="constraint" value="recursion">
					<label for="recursion">Recursion</label><br>
					<input type="radio" name="constraint" value="no-constraint" checked>
					<label for="no-constraint">None</label><br>
					<br>

					<h3>Test Cases:</h3>(For multiple values, separate with a space)<br><br>
					<label for="testcasecount">Number of Test Cases:</label>
					<input type="number" name="testcasecount" id="testcasecount" min="2" max="5" step="1" value="2" oninput="testcasecountchanged()"/><br><br>
					<div id="testCases"></div> <!-- displays form fields on click -->

		  </div><br> <!-- end box -->

			<button type="submit" id="questionSubmit" style="width:95%">Add to Question Bank</button><br><br>

		</form> <!-- end of question creation -->

		</div> <!-- end column left/Create Questions -->
		
		<div class="column right" style="background-color:#DFDFDF;">
		<!-- questions view -->
		<iframe src="/app?page=show_questions" style="width: 100%; height: 98%;" />
		</div> <!-- end column right/Question Bank -->

		</div> <!-- end row -->

</body>

</html>
