<!DOCTYPE html>
<html>

	<head>
		<title>Manage Exams</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel='stylesheet' href="./style.css">
	</head>

  <body>
		<nav>
      <label class="logo">Manage Exams</label>
      <ul>
        <li><a href="./teacher.html">Home</a></li>
				<li><a href="./manage_questions.html">Manage Questions</a></li>
				<li><a href="./manage_exams">Manage Exams</a></li>
				<li><a href="./grade_exams.html">Grade Exams</a></li>
				<li><a href="./logout">Log Out</a>
      </ul>
    </nav>

    <!-- Select Questions -->
		<div class="row">
		  <div class="column left" style="background-color:#DFDFDF;">
		    <h2>Select Questions</h2></br>

		      <form action="/manage_exams" method="POST">

            <div class="filter">
              <h4>Filter Questions</h4></br>

              <label for="q_category">Category:</label>
              <select name="q_category">
                <option value="all">All</option>
                <!-- get values from middle-end -->
                {% for c in QuestionCategories %}
                  <option value={{c[0]}}>{{c[1]}}</option>
                {% endfor %}
              </select></br>
              </br>

              <label for="q_difficulty">Difficulty:</label>
              <select name="q_difficulty">
                <option value="all">All</option>
                <!-- get values from middle-end -->
                {% for d in Difficulties %}
                  <option value={{d[0]}}>{{d[1]}}</option>
                {% endfor %}
              </select></br>
              </br>

  						<button type="submit" id="apply-filter">Apply</button>

            </div> <!-- end filter questions -->

  		     </form>

           </br></br><p>To do: Display question bank, each question with button to add to exam and appear on right.</p>

		  	  </div> <!-- end column left/Select Questions -->

				<!-- Create Exam -->
			  <div class="column right" style="background-color:#DFDFDF;">
			    <h2>Create Exam</h2></br>
			    <!-- display questions from database? -->
          <h3><label for="q_title">Title:</label></h3>
					<input type="text" name="q_title" size=60 required></br>
					<br>

          <p>To do: Display questions added from question bank, can set point values here</p></br>


          <button type="submit" id="exam-submit">Create Exam</button>

			  </div> <!-- end column right/Create Exam -->

		</div> <!-- end row -->

	</body>

</html>
