<!DOCTYPE html>
<html>

<head>
	<title>Manage Exams</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel='stylesheet' href="./style.css">
	<script src="./script.js"></script>
</head>

<body>
	<nav>
    <label class="logo">Manage Exams</label>
    <ul>
			<li><a href="./app?page=landing">Home</a></li>
			<li><a href="./app?page=manage_questions">Manage Questions</a></li>
			<li><a href="./app?page=manage_exams">Manage Exams</a></li>
			<li><a href="./app?page=grade_exams">Grade Exams</a></li>
			<li><a href="./logout">Log Out</a>
    </ul>
  </nav>

<!-- Create Exam -------------------------------------------------------------->
	<div class="row">
	  <div class="column left" style="background-color:#DFDFDF;">
	    <h2>Create Exam</h2></br>
			<form id=examForm method="POST"> <!-- Exam Form -->
				<div class="greybox">
	        <h3><label for="exam_title">Title:</label></h3>
					<input type="text" name="exam_title" size=60 required></br>
					<br>

					<h3><label for="exam_questions">Questions:</label></h3>

					<div id="examQuestions"></div> <!-- added questions displayed here -->

				</div></br> <!-- end box -->

	      <button type="submit" id="examSubmit" style="width:95%">Submit Exam</button></br></br>

	  </div> <!-- end column left/Create Exam -->
	</form> <!-- end Exam Form -->

<!-- Question Bank ------------------------------------------------------------>
		  <div class="column right" style="background-color:#DFDFDF;">
		    <h2>Question Bank</h2></br>

		      <form id="filterForm" method="POST"> <!-- would this need post? -->

            <div class="filter">

              <h3>Filter Questions</h3></br> <!-- filter questions -->

              <label for="category">Category:</label>
              <select name="category">
                {% for c in categories %}
                  <option value="{{ c }}">{{ c }}</option>
                {% endfor %}
              </select></br>
              </br>

              <label for="difficulty">Difficulty:</label>
              <select name="difficulty">
                <option value="all">All</option>
                {% for d in difficulties %}
                  <option value="{{ d }}">{{ d }}</option>
                {% endfor %}
              </select></br>
              </br>

  						<button type="submit" id="applyFilter" onClick="applyFilter()">Apply</button>

            </div></br>

					</form> <!-- end filter questions -->

<!-- Select Questions --------------------------------------------------------->
					<h2>Select Questions</h2></br>
					<div class="greybox">
						<!-- displaying table for each question in bank -->
						{% for q in questionBank %}
							<table style="width:100%">
			 					<colgroup>
			 				  	<col span="1" style="width:150px";
			 				  </colgroup>

								<tr>
			 				  	<th>Title</th>
			 				    <td>{{ q.title }}</td>
									<th>ID: {{ q.id }}</th> <!-- fix -->
			 				  </tr>

			 				  <tr>
			 				     <th>Description</th>
			 				     <td>{{ q.description }}</td>
			 				  </tr>
			 				  <tr>
			 				     <th>Category</th>
			 				     <td>{{ q.category }}</td>
			 				  </tr>
			 				  <tr>
			 				     <th>Difficulty</th>
			 				     <td>{{ q.difficulty }}</td>
			 				  </tr>
			 				  <tr>
			 				     <th>Test Cases</th>
									 <td>
									 {% for case in testcases %} <!-- needs to be fixed -->
										 	{{ case.test_case_args }} -> {{ case.test_case_results }}</br>
									 {% endfor %}
								 </td>
			 				  </tr>
							 </br>
		 				 </table>
						 <button type="button" id="addToExam" class="longButton" onClick="addToExam()">Add to Exam</button>
						 {% endfor %} <!-- end table values -->

				</div></br> <!-- end box -->

		  </div> <!-- end column right/Create Exam -->

	</div> <!-- end row -->

</body>

</html>
