<!DOCTYPE html>
<html>

	<head>
		<title>Review Exam</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel='stylesheet' href="./style.css">
		<script src="./script.js"></script>
	</head>

  <body>
		<nav>
      <label class="logo">Review Exam</label>
      <ul>
				<li><a href="./app?page=landing">Home</a></li>
				<li><a href="./app?page=manage_questions">Manage Questions</a></li>
				<li><a href="./app?page=manage_exams">Manage Exams</a></li>
				<li><a href="./app?page=grade_exams">Grade Exams</a></li>
				<li><a href="./logout">Log Out</a>
      </ul>
    </nav>

<!-- View Exam ---------------------------------------------------------------->
	<div class="full-page-box">
		<table style="width:100%;">
				<tr> <!-- headers -->
					<h2><th>Response</th></h2>
          <h2><th>Expected</th></h2>
          <h2><th>Run</th></h2>
          <h2><th>Points Received</th></h2>
          <h2><th>Max Points</th></h2>
          <h2><th>Override Points</th></h2>
          <h2><th>Comment</th></h2>
				</tr>

        <!-- example, delete later -->
        <tr>
					<td>Student response</td>
          <td>function(input) -> result</td>
					<td>student ouput</td>
          <td>--</td>
          <td>--</td>
          <td><input type="number" name="pointCorrection"></td>
          <td><textarea name="comment"></textarea></td>
        </tr>
				<!-- example, delete later -->

				{% for r in responses %} <!-- what to use here? -->
				<tr>
					<td>{{ question.response }}</td>
          {% for case in question.testcases %}
             <td>{{ case.testinput }} -> {{ case.testoutput }}</td></br>
          {% endfor %}
					<td>need their output</td>
          <td>--</td>
          <td>--</td>
          <td><input type="number" class="numberfield" name="pointCorrection"></td>
          <td><textarea name="comment"></textarea></td>
        </tr>
        <td colspan="3" style=text-align:right;><b>Total:</b></td>
        <td>score</td>
        <td>exam total</td>
				<td>override total</td>
				{% endfor %}
			<tr>
				<td colspan="3" style=text-align:right;><b>Final Score:</b></td>
				<td colspan="4" style=text-align:left;><b>score</b></td>
			</tr>
		</table></br>

		<h3>Test Comment:</h3><textarea name="comments_on_whole_test" cols=100 rows=5></textarea>

	</div> <!-- end page box -->

  </body>

</html>
