<!DOCTYPE html>
<html>

	<head>
		<title>Review Exam</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel='stylesheet' href="./style.css">
		<script src="./script.js"></script>
	</head>

  <body style="background-color:#EFEFEF;" onload="setUpPoints({{ questions|length }})">
		<nav>
      <label class="logo">Review Exam</label>
      <ul>
				<li><a href="./app?page=landing">Home</a></li>
				<li><a href="./app?page=manage_questions">Manage Questions</a></li>
				<li><a href="./app?page=manage_exams">Manage Exams</a></li>
				<li><a href="./app?page=grade_exams">Grade Exams</a></li>
				<li><a href="./logout">Log Out</a>
      </ul>
    </nav>

<!-- View Exam ---------------------------------------------------------------->
	<div class="review">
		<form action="/submit_exam_comments_and_grade_overrides">

				{% for qnum in range(questions|length) %}
					{% set q = questions[qnum] %}
					{% set hasConstraint = q.constrainttype is not none %}
					{% set numTestCases = (q.testcaseoutputs|length) %}
					{% set thingsToGrade = 2*numTestCases+1 %}
					{% set numGrades = numTestCases+1 %}
					{% if hasConstraint %}
						{% set thingsToGrade = thingsToGrade+1 %}
						{% set numGrades = numGrades+1 %}
					{% endif %}
					{% set pointsPerThing = (q.points/(thingsToGrade|float))|round(2) %}
					<table style="width:100%">
						<tr> <!-- headers -->
							<th><h3>Question</h3></th>
							<th><h3>Response</h3></th>
						  <th><h3>Expected</h3></th>
						  <th><h3>Actual</h3></th>
							<th><h3>Max Points</h3></th>
						  <th><h3>Autograder Points</h3></th>
						  <th><h3>Override Points</h3></th>
						</tr>
					<tr>
						<td rowspan="{{numGrades}}">
							<b>Title:</b> {{ q.title }}<br>
							<b>Total Points:</b> {{ q.points }}<br>
							<b>Prompt:</b><br> {{ q.description }}
						</td>

						<td rowspan="{{numGrades}}"><pre>{{ answers[qnum] }}</pre></td>

					  <td>Function should be named: {{ q.functionname }}</td>

						<td>{{ function_names[qnum] }}</td>

						<td>{{ pointsPerThing }}</td>

			  		<td>+{{ autograderPoints[qnum][0] }}</td>

					  <td>+<input type="number" id="override-{{ qnum }}-0"  oninput="updateQuestionPoints({{ qnum }},true)" class="numberfield" value="{{ manualPoints[qnum][0] }}" name="override-{{ qnum }}-0" step="0.01"></td>
						</tr>

						{% if hasConstraint %}
						<td>Constraint: {{ q.constrainttype }}</td>

						<td>{{ detectedConstraints[qnum] }}</td>

						<td>{{ pointsPerThing }}</td>

			  		<td>+{{ autograderPoints[qnum][numTestCases+1] }}</td>

						 <td>+<input type="number" id="override-{{ qnum }}-{{ numTestCases+1 }}"  oninput="updateQuestionPoints({{ qnum }},true)" class="numberfield" value="{{ manualPoints[qnum][numTestCases+1] }}" name="override-{{ qnum }}-{{ numTestCases+1 }}" step="0.01"></td>

						{% endif %}

						{% for tcnum in range(numTestCases) %}
							<tr>
							  <td>{{ q.functionname }}({{ q.testcaseargs[tcnum] }}) -> {{ q.testcaseoutputs[tcnum] }}</td>

								<td>
									{% if code_outputs[qnum][tcnum] is not none %}
										{{ code_outputs[qnum][tcnum] }}
									{% else %}
										Code crashed.
									{% endif %}
								</td>

								<td>{{ pointsPerThing*2 }}</td>

							  <td>+{{ autograderPoints[qnum][tcnum+1] }}</td>

							  <td>+<input type="number" id="override-{{ qnum }}-{{ tcnum+1 }}" oninput="updateQuestionPoints({{ qnum }},true)" class="numberfield" value="{{ manualPoints[qnum][tcnum+1] }}"name="override-{{ qnum }}-{{ tcnum+1 }}" step="0.01"></td>
							</tr>

						{% endfor %}

						<td colspan="4" style=text-align:right;><b>Total:</b></td>
						<td>{{ q.points }}</td>
						<td>{{ (scorePerQuestion[qnum])|round(1) }}</td>
						<td id="total-{{qnum}}"></td>

					</table><br>

					<h3>Comments:</h3>
					<textarea name="comment-{{ qnum }}" style="width:100%" rows=5>{{ commentsPerQuestion[qnum] }}</textarea><br><br>

					{% endfor %}

						<table style="width:100%;">

							<tr>
								<th><h3>Final Score:</h3></th>
								<th><h3>Overall Test Comments:</h3></th>
							</tr>

							<tr>
								<td style="vertical-align:top;">
									<b>Total:</b> {{ scoreMax }}<br>
									<b>Autograder:</b> {{ (scoreTotal)|round(1) }} <br>
									<b>Override:</b> <span id="overridePoints"></span>
								</td>
								<td><textarea name="comments-on-whole-test" cols=100 rows=5>{{ wholeTestComments }}</textarea></td>
							</tr>

						</table><br>

						<input type="hidden" name="exam" value="{{ name }}" />
						<input type="hidden" name="student" value="{{ student }}" />
						<button type="submit">Submit & Release</button>
						<a href="/app?page=grade_exams"><button type="submit">Cancel</button></a><br><br>

					</form>

				</div><br> <!-- end review -->

  </body>

</html>
