<!DOCTYPE html>
<html>
	<head>
		<title>Student Landing Page</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,700">
		<link rel="stylesheet" href="./style.css">
		<script src="./script.js"></script>
	</head>
	<body>
		<nav>
			<label class="logo">Python Test Website</label>
			<ul>
				<li><a href="./app?page=landing">Home</a></li>
				<li><a href="./app?page=exam_list">Exam List</a></li>
				<li><a href="./app?page=view_results">View Results</a></li>
				<li><a href="./logout">Log Out</a>
			</ul>
		</nav>
		<div class="box">
			<h1>Welcome, Student!</h1>
			<h2>Signed in as:<br>{{ session["user"] }}</h2>
			<p>Please select an option above.</p><br>
			<br>
		</div>
	</body>
</html>
