<!DOCTYPE html>
<html>

	<head>
		<title>Take Exam</title>
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
		<link rel='stylesheet' href="./style.css">
		<script src="./script.js"></script>
	</head>

	<body>
		<nav>
			<label class="logo">Take Exam</label>
			<ul>
				<li><a href="./app?page=landing">Home</a></li>
				<li><a href="./app?page=exam_list">Exam List</a></li>
				<li><a href="./app?page=view_results">View Results</a></li>
				<li><a href="./logout">Log Out</a>
			</ul>
		</nav>

<!-- Display Exam ------------------------------------------------------------->
	<div class="full-page-box">
		<form action="/submit_test_response?name_or_id={{ name }}" method="POST"> <!-- exam response -->
			{% for i in range(examQuestions|length) %}
				<div id="question-{{ i }}" style="display: none;">
					<table class="greyBorder" style="width: 100%;">
						{% set q = (examQuestions[i]) %}
							<tr>
								<th style="width: 88%;"><h3>Question:</h3>{{ q.description }}</th>
								<th style="width: 10%;"><h3>Point Value:</h3>{{ q.points }}</th>
							</tr><td colspan="2">
								<h3>Your code:</h3>
								<textarea id="response-{{ i }}" name="response-{{ i }}" class="examAns" rows=8 style="width:100%;" onchange="markQuestionDone({{ i }})" spellcheck="false" onkeydown="onTabKeyPressed(event)" required></textarea>
							</td></tr>
					</table></br>
				</div>
			{% endfor %}

			<div style="width: 15%; display: inline-block; border: 1px solid black; background: #BEBEBE; margin-left: 4.5%; text-align: center; vertical-align: top;">
				<h3 style="text-align: center;">Questions:</h3>
				{% for i in range(examQuestions|length) %}
					<button type="button" onclick="showQuestion({{ i }})" style="margin-bottom: 0.5em; width: 75%;" id="question{{ i }}">Question {{ i + 1 }}</button>
				{% endfor %}
			</div><br>

			<button type="button" onclick="prevQuestion()"><</button><button type="button" onclick="nextQuestion()" style="float: right;">></button><br><br>
			<button type="submit" id="responseSubmit" class="longButton">Submit Exam</button></br></br></br>
		</form> <!-- end exam responses -->

	<script>
		let maxQuestions = {{ examQuestions|length }};
		let currQuestion = 0;

		function showQuestion(q) {
			document.getElementById("question-" + currQuestion).style = "display: none;";
			document.getElementById("question-" + q).style = "display: inline-block; width: 80%;";
			currQuestion = q;
		}

		function nextQuestion() {
			if(currQuestion + 1 < maxQuestions) {
				showQuestion(currQuestion + 1);
			}
		}

		function prevQuestion() {
			if(currQuestion > 0) {
				showQuestion(currQuestion - 1);
			}
		}
		
		function markQuestionDone(which) {
			let elem = document.getElementById("question" + which);
			let answeredMarker = " - Answered";
			if(!elem.innerText.includes(answeredMarker)) elem.innerText += answeredMarker;
		}
		
		function onTabKeyPressed(keyEvent) {
			if(keyEvent.key == 'Tab') {
				keyEvent.preventDefault();
				keyEvent.target.setRangeText("\t", keyEvent.target.selectionStart, keyEvent.target.selectionStart, 'end')
			}
		}

		showQuestion(currQuestion);
	</script>
	</div> <!-- end page box -->

	</body>

</html>
