<!DOCTYPE html>
<html>
	<head>
		<title>Teacher Landing Page</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,700">
		<link rel="stylesheet" href="./style.css">
	</head>
	<body>
		<nav>
			<label class="logo">Python Test Website</label>
			<ul>
				<li><a href="./manage_questions.html">Manage Questions</a></li>
				<li><a href="./manage_exams.html">Manage Exams</a></li>
				<li><a href="./grade_exams.html">Grade Exams</a></li>
				<li><a href="./logout">Log Out</a>
			</ul>
		</nav>
		<div class="box">
			<h1>Welcome, Teacher!</h1>
			<h2>Signed in as:<br>{{ session["user"] }}</h2>
			<p>Please select an option above.</p><br>
			<br>
		</div>
	</body>
</html>
