<!DOCTYPE html>
<html>
	<head>
		<title>Teacher Landing Page</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,700">
		<link rel="stylesheet" href="./style.css">
		<script src="./script.js"></script>
	</head>
	<body>
		<nav>
			<label class="logo">Python Test Website</label>
			<ul>
				<li><a href="./app?page=manage_questions">Manage Questions</a></li>
				<li><a href="./app?page=manage_exams">Manage Exams</a></li>
				<li><a href="./app?page=grade_exams">Grade Exams</a></li>
				<li><a href="./logout">Log Out</a>
			</ul>
		</nav>
		<div class="welcome">
			<h1>Welcome, Teacher!</h1><br>
			<h2>Signed in as:<br>{{ session["user"] }}</h2><br>
			<p>Please select an option above.</p>
		</div>
	</body>
</html>
